.rs-catalog-nav {
  padding: 9.7rem 0 12rem;
  border-radius: 0 0 10rem 10rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .rs-catalog-nav {
    padding: 5rem 0;
    border-radius: 0 0 2rem 2rem;
  }
}
.rs-catalog-nav__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.rs-catalog-nav__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-catalog-nav__wrapper {
  margin-top: 3rem;
}
.rs-catalog-nav__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media (max-width: 991.98px) {
  .rs-catalog-nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 767.98px) {
  .rs-catalog-nav__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.rs-catalog-nav__item {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 2.4rem;
  background: #fff;
}
@media (min-width: 1439.98px) {
  .rs-catalog-nav__item {
    min-height: 24.2rem;
  }
}
@media (any-hover: hover) {
  .rs-catalog-nav__item:hover {
    -webkit-box-shadow: 0 4px 9px 0 rgba(26, 33, 101, 0.05), 0 15px 15px 0 rgba(26, 33, 101, 0.04), 0 35px 21px 0 rgba(26, 33, 101, 0.03), 0 62px 25px 0 rgba(26, 33, 101, 0.01), 0 97px 27px 0 rgba(26, 33, 101, 0);
            box-shadow: 0 4px 9px 0 rgba(26, 33, 101, 0.05), 0 15px 15px 0 rgba(26, 33, 101, 0.04), 0 35px 21px 0 rgba(26, 33, 101, 0.03), 0 62px 25px 0 rgba(26, 33, 101, 0.01), 0 97px 27px 0 rgba(26, 33, 101, 0);
    -webkit-transform: translateY(-0.7rem);
        -ms-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
}
.rs-catalog-nav__link {
  width: 100%;
  height: 100%;
  padding: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .rs-catalog-nav__link {
    padding: 1.6rem;
  }
}
.rs-catalog-nav__img {
  width: 9rem;
  height: 9rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0px 0px 0px auto;
}
@media (max-width: 991.98px) {
  .rs-catalog-nav__img {
    width: 6rem;
    height: 6rem;
  }
}
.rs-catalog-nav__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-catalog-nav__desc {
  margin-top: 3.2rem;
}