// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин	

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Парамерты по умолчанию ==============================================================================================================================================================================================================================================================================

// Основные цвета
:root {
	--bg-color: #fff;
	--font-color: #201f26;
	--primary-color: #1a2165;
	--second-color: #02c9af;
	--purple: #9087d3;
	--pink: #f1e5f6;
	--white: #fff;
	--blue: #f3f7ff;
	--gray: #f1f9f8;
	--primary-font: "Geologica", sans-serif;
	--second-font: "Manrope", sans-serif;
}

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина макета
$maxWidth: 1920px;

// Брейк-поинты
$monitor: 1439.98px;
$pc: 1169.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

// Обнуление и общие параметры ============================================================================================================================================================================================================================================================================================================================================================================================
@import "base/_null";

html {
	// Скролл заблокирован
	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

body {
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	margin: 0 auto;
	width: 100%;

	// Ширина ограничивающего контейнера (ширина контейнера по макету + раддинги)
	$paddingContainer: 1.6rem;
	$maxWidthContainer: calc(151.8rem + ($paddingContainer * 2));
	max-width: $maxWidthContainer;
	padding-left: $paddingContainer;
	padding-right: $paddingContainer;
}

// Вспомогательные классы ======================================================================================================================================================================================================================
.dont-break-out {
	// Технически это одно и то же, но используйте и то, и другое
	overflow-wrap: break-word;
	word-wrap: break-word;
	// Это самое опасное в WebKit, так как оно ломает вещи везде, где бы они ни были
	word-break: break-all;
	// Вместо этого используйте этот нестандартный:
	word-break: break-word;
	// Добавляет дефис там, где слово ломается, если поддерживается
	hyphens: auto;
}

// Подключение стилей отдельных элементов ======================================================================================================================================================================================================================
@import "./base/common";
@import "./base/swiper";
