@font-face {
	font-family: "Geologica";
	src:
		url("../fonts/GeologicaAuto-Regular.woff2") format("woff2"),
		url("../fonts/GeologicaAuto-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src:
		url("../fonts/Manrope-Regular.woff2") format("woff2"),
		url("../fonts/Manrope-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
