@font-face {
    font-family: 'Geologica Auto';
    src: url('GeologicaAuto-Regular.woff2') format('woff2'),
        url('GeologicaAuto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

